ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #d1290a;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
    font-size: 18px;
}

li a:hover {
    background-color: #781c0b;
}

.topnav-right {
    float: right;
}