<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/style.css" rel="stylesheet">
    <style>
        nav {
            position: sticky;
            top: 0;
            background-color: #333;
            z-index: 1;
        }
        .footer {
            position: fixed;
            bottom: 0;
            width: 100%;
            background-color: #f1f1f1;
            text-align: center;
            padding: 10px 0;
            font-size: 12px;
        }
    </style>
</head>
{% if current_user.is_authenticated %}
<body>
    <nav>
        <ul>
            <li><a href='/'>Home</a></li>
            <li><a href='/createGraph'>Create Graphs</a></li>
            <li><a href='/uploadGraphs'>Upload Graphs</a></li>
            <li><a href='/editGroups'>Edit Groups</a></li>
            <li><a href='/uploadDataset'>Upload Dataset</a></li>
            <div class="dropdown">
                <button class="dropbtn">Account <i class="fa fa-caret-down"></i> </button>
                <div class="dropdown-content">
                    <a href="/updatePassword">Change Password</a>
                    <a href="/logout">Logout</a>
                    <a href="/createAdmin">Create Admin</a>
                </div>
            </div>
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
    <div class="footer">
        Created by: Nathan Todd, Blake Brown, and Patrick Jirele
    </div>
</body>
{% else %}
<nav>
    <ul>
        <li><a href='/'>Home</a></li>
        <div class="topnav-right">
            <li><a href='/login'>Login</a></li>
        </div>
    </ul>
</nav>
{% endif %}
</html>