{% extends "base.html" %}
{% block content %}
<body>
<style>
    .update-pass-form-container {
      border: 3px solid #ccc;
      padding: 20px;
      text-align: center;
      border-radius: 15px;
      width: 30%;
      max-width: 400px;
      margin: auto;
    }

    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    label {
      margin-bottom: 5px;
    }

    .oldP,
    .newP {
      width: 100%;
      height: 30px;
      border: 1px solid #ccc;
      border-radius: 3px;
      padding-left: 8px;
      margin-bottom: 10px;
    }

    .submit {
      background: #b3b3b3;
      width: 100%;
      height: 30px;
      border: none;
      border-radius: 17px;
      padding-left: 7px;
      color: blue;
      margin-top: 10px;
      cursor: pointer;
      transition: background-color 0.3s;
    }

    .error {
        color: red;
    }

    .submit:hover{
        background-color: #9a9a9a;
    }
</style>
<div class="update-pass-form-container">
    <form action="/updatePassword" method="POST">
        Current Password: <input type="password" name="oldP">
        {% if error %}<b class="error">{{error}}</b>{% endif %}<br>
        New Password: <input type="password" name="newP"> <br>
        <input type="submit" value="submit" class="submit">
    </form>
</div>

   </body>
{% endblock %}