{% extends 'base.html' %}
{% block content %}
<head>
<title>Graph Selector</title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<style>
  .thumbnail-img {
    width: 200px;
    height: auto;
  }
  .image-container {
    display: inline-block;
    width: 30%;
    margin: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
  }
  .checkbox-label {
    display: block;
    margin-bottom: 5px;
  }
  .delete-form {
    margin-top: 10px;
  }
</style>
</head>
<body>

<h2>Select Graphs To Be Displayed</h2>
<div id="checkboxes">
  {% for image in images %}
  <div class="image-container">
    <div class="delete-form">
      <form action="/deleteGraph/{{ image }}" method="POST">
        <input type="hidden" name="image_name" value="{{ image }}">
        <input type="submit" value="Delete">
      </form>
    </div>
    <form action="/uploadGraphs" method="POST">
      <input type="checkbox" name="images[]" value="{{ image }}" id="{{ image }}" {% if image in selected %} checked {% endif %}>
      <label for="{{ image }}" class="checkbox-label">{{ image }}</label>
      <img src="{{ url_for('static', filename='graphs/' + image) }}" class="thumbnail-img">
    </form>
  </div>
  {% endfor %}

</div>
<script>
  function submitSelectedGraphs() {
    const data = [];
    {% for image in images %}
    var tempImg = document.getElementById('{{ image }}');
      if (tempImg.checked){
        data.push(tempImg.value);
      }
    {% endfor %}

    console.log(data);

    $.post( "/uploadGraphs", {
      image_list: data
    });
  }
</script>

<button type="button" onclick="submitSelectedGraphs();">Submit</button>

</body>
{% endblock %}